
p {
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

title {
  font-size: 32px;
  
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}
h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
img {
    display: block;
    margin: 50px;
}

img-circle {
    border-radius: 50%;
}

body {
  color: black;
  border-radius:3px;
  padding-left:3px;
}
